.box {
  width: 290px;
  margin-bottom: 20px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  box-shadow: 0 4px 8px rgb(0 0 0 / 44%);
  border-radius: 5px;

  padding: 15px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 25px;
}

.input {
  padding: 5px 20px;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  border: 1px solid plum;
  box-shadow: 0.5px 4px 8px rgb(164, 95, 164);
  outline: none;
}

.input:active,
.input:focus {
  border: 1px solid black;
  box-shadow: 0.5px 0.5px 0.5px 0.5px grey;
}
