.wrapper {
  width: 290px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

.form {
  box-shadow: 0 4px 8px rgb(0 0 0 / 44%);
  border-radius: 5px;

  padding: 20px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input {
  padding: 5px 20px;
  border-radius: 8px;

  border: 1px solid plum;
  box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(164, 95, 164);
  outline: none;
  font-size: 16px;
  width: 250px;
}

.input:active,
.input:focus {
  border: 1px solid black;
  box-shadow: 0.5px 0.5px 0.5px 0.5px grey;
}

.btn {
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 44%);
  border: none;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: rgb(164, 95, 164);
  color: white;
}

.err {
  color: red;
  font-size: 12px;
}
