.card {
  border: 1px solid black;
  box-shadow: 1px 1px 1px 1px grey;
  border-radius: 10px;
  width: 330px;
  height: 110px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
}

.contact {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}

.icon {
  fill: rgb(146, 46, 146);
}

.btn {
  padding: 8px 12px;
  background-color: white;
  border: 1px solid red;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: #ffa8a8;
}
