.card {
  border: none;
  box-shadow: 0 4px 8px rgb(0 0 0 / 44%);
  border-radius: 5px;
  width: 320px;
  height: 90px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
}

.contact {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.icon {
  fill: rgb(146, 46, 146);
}

.btn {
  padding: 8px 12px;
  background-color: white;
  border: none;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 44%);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: rgb(146, 46, 146);
  color: white;
}
